 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand main-nav" href="#">GitWorkd</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link" href="/feed"><i class="fas fa-comment-alt"></i> Feed</a>
          <a class="nav-link" href="/savedRepos"><i class="fas fa-archive"></i> Saved Repos</a>
          <a class="nav-link" href="/addRepo"><i class="fas fa-plus-square"></i> Add Repos</a>
        </div>
      </div>
    </nav>

<div class="container">
    
    {{#each repos}}
    <div class="row">
        <div class="col-sm-10 mx-auto repo-card card text-center ">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="card-title">{{name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h5><i class="fab fa-github"></i> Description</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6>{{description}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h5><i class="fas fa-layer-group"></i> Technologies</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6>{{language}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h5><i class="fas fa-people-arrows"></i> URL</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="compat">{{url}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 mt-3">
                        <button class="btn btn-outline-light btn-sm mr-3 save-repo">Add
                            Repo</button>
                        <a href="{{url}}" class="btn btn-outline-light btn-sm">View Repo</a>
                        {{!-- {{Change button to a tag that links to github repo?}} --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>